<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codeslutest.plax">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name="com.codeslutest.plax.global.AppBack"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.codeslutest.plax.profile.AccountProfile" />
        <activity android:name="com.codeslutest.plax.profile.SavedProfile" />
        <activity android:name="com.codeslutest.plax.floatdepart.BroadcastActivity" />
        <activity android:name="com.codeslutest.plax.floatdepart.BroadSend" />
        <activity android:name="com.codeslutest.plax.floatdepart.CreateGroup" />
        <activity android:name="com.codeslutest.plax.floatdepart.AddFriend" />
        <activity android:name="com.codeslutest.plax.floatdepart.RequestNumber" />
        <activity android:name="com.codeslutest.plax.floatdepart.QRActivity" />
        <activity android:name="com.codeslutest.plax.notify.FriendActivity" />
        <activity android:name="com.codeslutest.plax.notify.FriIndiviReq" />
        <activity android:name="com.codeslutest.plax.follow.CreateSocial" />
        <activity android:name="com.codeslutest.plax.follow.SocialFollow" />
        <activity android:name="com.codeslutest.plax.follow.SocialProfile" />
        <activity
            android:name="com.codeslutest.plax.Qr"
            android:label="@string/title_activity_qr"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.story.Archieve"
            android:label="@string/title_activity_archieve"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.Invite"
            android:label="@string/title_activity_invite"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.auth.VerifyDelete"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.Favourite"
            android:label="@string/title_activity_favourite"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.Mute"
            android:label="@string/title_activity_mute"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.Block"
            android:label="@string/title_activity_block"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.settingsitems.CallsSetting"
            android:label="@string/title_activity_calls_setting"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Setting"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.story.EditStory"
            android:label="@string/title_activity_edit_story"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.calls.CallingActivityVideo"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullScreenVideoTheme" />
        <activity
            android:name="com.codeslutest.plax.calls.CallingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.calls.IncAudioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.calls.IncCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.Groups.AddUserGroup"
            android:label="@string/title_activity_add_user_group"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.Forward"
            android:label="@string/forward"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.story.StoryPlayer"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.Groups.ProfileGroup"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Groups.Group" />
        <activity
            android:name="com.codeslutest.plax.Groups.Group"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity" />
        <activity
            android:name="com.codeslutest.plax.Groups.AddGroup"
            android:label="@string/title_activity_add_group"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.settingsitems.NotifSetting"
            android:label="@string/title_activity_notif_setting"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Setting"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.codeslutest.plax.LockScreen" />
        <activity
            android:name="com.codeslutest.plax.settingsitems.SecuSetting"
            android:label="@string/title_activity_secu_setting"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Setting"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.codeslutest.plax.settingsitems.TestWall"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.settingsitems.ChatSettings"
            android:label="@string/chatss"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name="com.codeslutest.plax.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="ar.codeslu.plax.OPEN_DYNAMIC_SHORTCUT" /> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.codeslutest.plax.auth.EmailLogin" />
        <activity android:name="com.codeslutest.plax.auth.EmailVerifyAcitivity" />
        <activity
            android:name="com.codeslutest.plax.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codeslutest.plax.auth.PolicyActivity" />
        <activity
            android:name="com.codeslutest.plax.auth.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.profile.Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.auth.Verify"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.auth.DataSet"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.codeslutest.plax.EditProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name="com.codeslutest.plax.Contacts"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity" />
        <activity
            android:name="com.codeslutest.plax.Chat"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <service
            android:name="com.codeslutest.plax.notify.FCMR"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.codeslutest.plax.global.CheckConnectivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.codeslutest.plax.Map"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_map"
            android:launchMode="singleTop" />
        <activity
            android:name="com.codeslutest.plax.mediachat.VideoA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Chat" />
        <activity
            android:name="com.codeslutest.plax.mediachat.Photoa"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.Chat" />
        <activity
            android:name="com.codeslutest.plax.story.AddStory"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.codeslutest.plax.Setting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTop"
            android:parentActivityName="com.codeslutest.plax.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
    </application>

</manifest>